## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [9]:
# 設定 data_path
dir_data = './'

In [12]:
data = os.path.join(dir_data, 'NBA_Stats_71_Years.xlsx')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_excel(data)

Path of read in data: ./NBA_Stats_71_Years.xlsx

In [13]:
app_train.head()

,Rank,Year,Season Start Year,Season Type,Player ID,Player,Team ID,Team,Games Played,Minutes Played,...,Rebounds,Assists,Steals,Blocks,Turnovers,Personal Fouls,Points Scored,Efficency,AST/TOV,STL/TOV
0,1,1951-52,1951,Regular Season,76056,Paul Arizin,1610612744,PHW,66,2939,...,745,170,NaN,NaN,NaN,250,1674,1786,NaN,NaN
1,2,1951-52,1951,Regular Season,600012,George Mikan,1610612747,MNL,64,2572,...,866,194,NaN,NaN,NaN,286,1523,1592,NaN,NaN
2,3,1951-52,1951,Regular Season,600003,Bob Cousy,1610612738,BOS,66,2681,...,421,441,NaN,NaN,NaN,190,1433,1322,NaN,NaN
3,4,1951-52,1951,Regular Season,77429,Ed Macauley,1610612738,BOS,66,2631,...,529,232,NaN,NaN,NaN,174,1264,1396,NaN,NaN
4,5,1951-52,1951,Regular Season,76514,Bob Davies,1610612758,ROC,65,2394,...,189,390,NaN,NaN,NaN,269,1052,935,NaN,NaN

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [18]:
row, column = app_train.shape
print('row is', row)
print('column is', column)

row is 33329
column is 31

#### 列出所有欄位

In [21]:
print(app_train.columns)

Index(['Rank', 'Year', 'Season Start Year', 'Season Type', 'Player ID',
       'Player', 'Team ID', 'Team', 'Games Played', 'Minutes Played',
       'FG Made', 'FG Attempts', 'FG %', '3-Pt FG Made', '3-Pt FG Attempts',
       '3-Pt FG %', 'FT Made', 'FT Attempts', 'FT %', 'Offensive Rebounds',
       'Defensive Rebounds', 'Rebounds', 'Assists', 'Steals', 'Blocks',
       'Turnovers', 'Personal Fouls', 'Points Scored', 'Efficency', 'AST/TOV',
       'STL/TOV'],
      dtype='object')

#### 截取部分資料

In [25]:
print(app_train.head(5)) # 顯示前五行

   Rank     Year  Season Start Year     Season Type  Player ID        Player  \
0     1  1951-52               1951  Regular Season      76056   Paul Arizin
1     2  1951-52               1951  Regular Season     600012  George Mikan
2     3  1951-52               1951  Regular Season     600003     Bob Cousy
3     4  1951-52               1951  Regular Season      77429   Ed Macauley
4     5  1951-52               1951  Regular Season      76514    Bob Davies

      Team ID Team  Games Played  Minutes Played  ...  Rebounds  Assists  \
0  1610612744  PHW            66            2939  ...       745      170
1  1610612747  MNL            64            2572  ...       866      194
2  1610612738  BOS            66            2681  ...       421      441
3  1610612738  BOS            66            2631  ...       529      232
4  1610612758  ROC            65            2394  ...       189      390

   Steals  Blocks  Turnovers  Personal Fouls  Points Scored  Efficency  \
0     NaN     NaN        NaN             250           1674       1786
1     NaN     NaN        NaN             286           1523       1592
2     NaN     NaN        NaN             190           1433       1322
3     NaN     NaN        NaN             174           1264       1396
4     NaN     NaN        NaN             269           1052        935

   AST/TOV  STL/TOV
0      NaN      NaN
1      NaN      NaN
2      NaN      NaN
3      NaN      NaN
4      NaN      NaN

[5 rows x 31 columns]

In [27]:
print(app_train.tail(5))

       Rank     Year  Season Start Year Season Type  Player ID  \
33324   194  2022-23               2022    Playoffs     203496
33325   194  2022-23               2022    Playoffs     203648
33326   194  2022-23               2022    Playoffs       2617
33327   194  2022-23               2022    Playoffs    1628427
33328   194  2022-23               2022    Playoffs    1631111

                       Player     Team ID Team  Games Played  Minutes Played  \
33324        Robert Covington  1610612746  LAC             2              12
33325  Thanasis Antetokounmpo  1610612749  MIL             2               5
33326           Udonis Haslem  1610612748  MIA             1               2
33327           Vlatko Cancar  1610612743  DEN             4              10
33328       Wendell Moore Jr.  1610612750  MIN             1               2

       ...  Rebounds  Assists  Steals  Blocks  Turnovers  Personal Fouls  \
33324  ...         2        2     0.0     1.0        0.0               2
33325  ...         0        0     0.0     0.0        0.0               0
33326  ...         1        0     0.0     0.0        0.0               0
33327  ...         3        1     0.0     0.0        0.0               0
33328  ...         0        0     0.0     0.0        1.0               0

       Points Scored  Efficency  AST/TOV  STL/TOV
33324              0          2      0.0      0.0
33325              0          0      0.0      0.0
33326              0         -1      0.0      0.0
33327              0         -1      0.0      0.0
33328              0         -1      0.0      0.0

[5 rows x 31 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子